.App {
    height: 100vh ;
    background-image: url("../../img/fon.jpg");
    object-fit: cover;

}


.settings_container {
    border: none;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #333232;
    width: 20%;
    margin: 0 30px;
    height: 250px;
    justify-content: center;


}

.settings_container span {
    margin: 0 10px;
}


.display {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
}

.frame {
    color: #a9ff00;

    border-bottom:4px solid #a9ff00;
    padding: 20px;

}

.button {
    background-color: #61dafb;
    border: none;
    border-radius: 10px;
    font-size: xxx-large;
    margin: auto;
    padding: 5px;
}

.red {
    border-bottom:4px solid #9d0416;
    color: #ff0217;
}








